<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Todoooo</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap-markdown.min.css">
  <link rel="stylesheet" href="css/index.css">
</head>
<body>

<form id="todooo_note_edit" class="form-horizontal note-edit-form" role="form">
  <input type="text" class="form-control" placeholder="Title" required autofocus>
  <textarea class="form-control" data-provide="markdown" placeholder="Note" rows="3"></textarea>
</form>

<section id="todooo_showbox">
  <section id="main">
    <div class="container-fluid">
      <div id="todo-list" class="row">

      </div>
    </div>
  </section>
</section>

<script type="text/template" id="view_template_note_show">
  <div id="note_show_wrapper" class="col-md-3 note-box">
    <div class="panel panel-success bg-success" role="form">
      <div class="panel-heading panel-title note-showbox-title"><h5><strong><%= title %></strong></h5></div>
      <div class="panel-body note-showbox-content"><%= content %></div>
      <div class="panel-footer note-showbox-footer"><span><%= timestamp %></span></div>
    </div>
  </div>
</script>

<script type="text/javascript" src="js/jquery-1.11.1.js"></script>
<script type="text/javascript" src="js/markdown.js"></script>
<script type="text/javascript" src="js/to-markdown.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/bootstrap-markdown.js"></script>
<script type="text/javascript" src="js/underscore.js"></script>
<script type="text/javascript" src="js/backbone.js"></script>
<script type="text/javascript" src="js/backbone.localStorage.js"></script>
<script type="text/javascript" src="js/util.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>